<!DOCTYPE html>
<html lang="en"
    x-data="{ light: false }"
    class="h-full"
    :class="{ 'dark' : light !== true  }"
>
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
      {{title}}
    </title>
    {% if description %}
      <meta name="description" content="{{description}}"/>
    {% endif %}
    {% block head %}{% endblock %}
    <link rel="stylesheet" type="text/css" href="/static/css/style.css"/>
  </head>

  <body 
    x-data="flightplan()"
    x-init="global.panelnav.hidePanelNav()"
    x-cloak
    class="flex flex-col min-h-full font-sans text-gray-600 bg-gray-50 dark:bg-gray-800 dark:text-gray-200">

    {# Header #}
    {% include "./blocks/header.html" %}
    {# Main content #}
    <main
      class="relative w-full mx-auto max-w-screen-4xl">
      <div
        x-ref="toaster"
        x-show="global.toaster.visible"
        x-text="global.toaster.message"
        x-transition:enter="transition ease-out duration-150"
        x-transition:enter-start="opacity-0 translate-x-8"
        x-transition:enter-end="opacity-100 translate-x-0" 
        x-transition:leave="transition ease-in duration-1000" 
        x-transition:leave-start="opacity-100"
        x-transition:leave-end="opacity-0" 
        class="fixed w-64 p-4 text-xs bg-gray-900 border-l-8 border-green-600 top-16 right-4"></div>

      {{content|safe}}
      
    </main>
    {# Footer #}
    {% include "./blocks/footer.html" %}

    <!-- Alpine Plugins -->
    <script defer="defer" src="https://cdn.jsdelivr.net/npm/@ryangjchandler/alpine-clipboard@2.x.x/dist/alpine-clipboard.js"></script>
    <script defer="defer" src="https://unpkg.com/@alpinejs/persist@3.x.x/dist/cdn.min.js"></script>
    <!-- Alpine Core -->
    <script defer="defer" src="https://unpkg.com/alpinejs@3.x.x/dist/cdn.min.js"></script>
    <script src="/static/js/flightplan.js"></script>
    <script src="/static/js/app.js"></script>

    {% if path == "home" %}
      <!-- Netlify Identity Widget -->
      <!-- Needed only if you are using Netlify Identity feature -->
      <script type="text/javascript" src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
    {% endif %}
  </body>
</html>