--- 
layout: default
title: Neat Starter
---

<div class="container mx-auto h-screen flex flex-col justify-center items-center">

    <h1>Welcome to
        <strong class="text-indigo-500">{{title}}</strong>
    </h1>

    <p>Get Started by editing
        <code class="bg-gray-100 text-blue-800 p-1">/index.njk</code>
    </p>

    {% include "_includes/partials/content.njk" %}

</div>