<div x-data="{ newNotification: false }">
  <div
    x-data
    x-show="newNotification"
    @toast.window="newNotification = true"
    role="alert"
    ></div>
</div>

<div class="flex mt-16 space-x-8">
  {% for key, value in tw.all.colors %}
    {% if value | type !== 'object' and key !== 'current' %}
      <h3 class="mt-2 font-mono text-white">{{ key }}</h3>
      <div class="flex-grow {% if not loop.first %} {% endif %} overflow-hidden rounded dark:bg-gray-800 dark:bg-opacity-50 border-gray-800 border-opacity-50">
        <div class="relative overflow-hidden bg-{{ key }} h-32">
          {% if key === 'transparent' %}
            <svg class="absolute inset-0" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100">
              <defs>
                <pattern class="text-white text-opacity-10" id="checkerboard" x="0" y="0" width="8" height="8" patternUnits="userSpaceOnUse">
                  <path viewBox="0 0 8 8" width="24" height="24" fill="currentColor" fill-rule="evenodd" d="M0 0h4v4H0V0zm4 4h4v4H4V4z"/>
                </pattern>
              </defs>
              <rect x="0" y="0" width="100%" height="100%" fill="url(#checkerboard)"></rect>
            </svg>
          {% endif %}
        </div>
        <ul class="p-2 text-xs">
          <li x-data="{ css: 'bg-{{key}}' }" class="">
            <button class="flex items-center w-full h-5 p-1 text-xs text-left text-gray-400 transition-colors duration-200 ease hover:cursor-clipboard hover:text-gray-100 active:text-white" type="button" @click="$clipboard(css)">
              <span class="uppercase">CSS:</span>
              <span class="ml-4 font-mono" x-text="css"></span>
            </button>
          </li>
          <li x-data="{ hex: '{{value}}' }" class="">
            <button class="flex items-center w-full h-5 p-1 text-xs text-left text-gray-400 transition-colors duration-200 ease hover:cursor-clipboard hover:text-gray-100 active:text-white" type="button" @click="$clipboard(hex)">
              <span class="uppercase">HEX:</span>
              <span class="ml-4 font-mono" x-text="hex"></span>
            </button>
          </li>
          <li x-data="{ rgb: '{{ value | hexToRgb() }}' }" class="">
            <button class="flex items-center w-full h-5 p-1 text-xs text-left text-gray-400 transition-colors duration-200 ease hover:cursor-clipboard hover:text-gray-100" type="button" @click="$clipboard(rgb)">
              <span class="uppercase">RGB:</span>
              <span class="ml-4 font-mono" x-text="rgb"></span>
            </button>
          </li>
        </ul>
      </div>
    {% endif %}
  {% endfor %}
</div>


{# <div class="">
  {% for key, value in tw.all.colors %}
    {% if value | type === 'object' %}
      <div class="flex flex-col">
        <h3 class="text-white">{{ key }}</h3>
        <div class="flex">
          {% for subkey, subvalue in value %}
            <div class="bg-{{ key }}-{{ subkey }} h-20 w-20"></div>
            <div>
              <span>{{key}}</span>
              <span>{{subkey}}</span>
            </div>
          {% endfor %}
        </div>
      </div>
    {% endif %}
  {% endfor %}
</div> #}

<h2 class="mt-16 text-xl md:text-2xl xl:text-3xl">Color families</h2>
<div class="grid">
  {% for key, value in tw.all.colors %}
    {% if value | type === 'object' %}
      <div class="mt-8">
        <h3 class="text-white capitalize text-md md:text-lg xl:text-xl">{{key}}</h3>
        <div class="flex mt-4">
          <div class="grid w-full grid-cols-2 gap-4 overflow-hidden md:grid-cols-3 lg:grid-cols-5">
            {% for subkey, subvalue in value %}
              {% set rgbChannelsObject = subvalue | replace('#', '') | hexToRgb(true) %}
              <div class="col-span-1 rounded-b dark:bg-gray-800 dark:bg-opacity-50">
                <div class="relative bg-{{key}}-{{subkey}} h-24 md:h-32 xl:h-48 w-full rounded-t border border-gray-800 border-opacity-50">
                  {# <code class="absolute w-full text-center inset-x-0 bottom-4 block font-mono
                      {% if value === default and key !== 'DEFAULT' %}default {% endif %}
                      {{ subvalue | getContrastYIQ() }}
                      w-auto px-1 py-1 font-mono">bg-{{key}}-{{subkey}}
                  </code> #}

                  <code class="absolute w-full text-center top-2 right-2 block font-mono {{ subvalue | getContrastYIQ() }} w-auto px-1 py-1 text-2xl font-mono">Aa</code>

                </div>

                <ul class="p-2 text-xs">
                  <li x-data="{ css: 'bg-{{key}}-{{subkey}}' }" class="">
                    <button class="flex items-center w-full h-5 p-1 text-xs text-left text-gray-400 transition-colors duration-200 ease hover:cursor-clipboard hover:text-gray-100 active:text-white" type="button" 
                    @click="copy(css, true)">
                      <span class="uppercase">CSS:</span>
                      <span class="ml-4 font-mono" x-text="css"></span>
                    </button>
                  </li>
                  <li x-data="{ hex: '{{subvalue}}' }" class="">
                    <button class="flex items-center w-full h-5 p-1 text-xs text-left text-gray-400 transition-colors duration-200 ease hover:cursor-clipboard hover:text-gray-100 active:text-white" type="button" 
                    @click="copy(hex, true)">
                      <span class="uppercase">HEX:</span>
                      <span class="ml-4 font-mono" x-text="hex"></span>
                    </button>
                  </li>
                  <li x-data="{ rgb: '{{ subvalue | hexToRgb() }}' }" class="">
                    <button class="flex items-center w-full h-5 p-1 text-xs text-left text-gray-400 transition-colors duration-200 ease hover:cursor-clipboard hover:text-gray-100" type="button" 
                    @click="copy(rgb, true)">
                      <span class="uppercase">RGB:</span>
                      <span class="ml-4 font-mono" x-text="rgb"></span>
                    </button>
                  </li>
                </ul>
              </div>
            {% endfor %}
          </div>
        </div>
      </div>
    {% endif %}
  {% endfor %}
</div>
{# <script>
  function swatches() {
    return {
      copy(valueToCopy) {
        this.$clipboard(valueToCopy)
        this.$dispatch('notify', {message: `<code>${valueToCopy}</code> has been copied to your clipboard.` })
      }
    }
  }
</script> #}

{# <div class="grid grid-cols-2 mt-16 gap-x-12 gap-y-12">
  {% for key, value in tw.all.colors %}
    {% if value | type === 'object' %}
      <div class="flex flex-col">
        <h3 class="text-2xl text-white capitalize">{{key}}</h3>
        <div class="flex mt-4">
          <div class="flex flex-col overflow-hidden border border-{{key}}-800 rounded">
            {% for subkey, subvalue in value %}
              <div class="relative bg-{{key}}-{{subkey}} h-32 w-64 hover:cursor-dropper">
              <code class="absolute w-full text-center inset-x-0 bottom-4 block font-mono 
                    {% if value === default and key !== 'DEFAULT' %}default {% endif %} 
                    {{ subvalue | getContrastYIQ() }}
                    w-auto px-1 py-1 font-mono">bg-{{key}}-{{subkey}}
                  </code>
              </div>
            {% endfor %}
          </div>
          <div class="flex flex-col ml-4">
            {% for subkey, subvalue in value %}
              <div class="h-32 p-2">
                <code class="block font-mono 
                    {% if value === default and key !== 'DEFAULT' %}default {% endif %} 
                    {{ subvalue | getContrastYIQ() }}
                    w-auto px-1 py-1 font-mono text-center bg-gray-800 bg-opacity-50 border border-gray-900 rounded">bg-{{key}}-{{subkey}}
                  </code>
                <p class="block mt-2 font-mono text-gray-400 text-md">{{subvalue}}</p>
                <span class="mx-2 text-gray-800">|</span>
                {% for item in colorspaces %}
                  <span class="block">{{ item }}</span>
                {% endfor %}
                <p class="block font-mono text-gray-400 text-md">{{subvalue | hexToRgb() }}</p>
                <p class="block font-mono text-gray-400 text-md">{{subvalue | hexToCmyk() }}</p>
              </div>
            {% endfor %}
          </div>
        </div>
      </div>
    {% endif %}
  {% endfor %}
</div> #}