<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/svg" href="/static/img/favicon.svg"/>
    <title>      {{title}}    </title>
    {% if description %}
      <meta name="description" content="{{description}}"/>
    {% endif %}
    {% block head %}{% endblock %}

  </head>
  <body>
    {% include "partials/navbar.njk" %}

    {{ content | safe }}

    <script src="/static/js/alpine.js"></script>

  </body>
</html>