@tailwind base;
@tailwind components;
@tailwind utilities;
@font-face {
  font-family: 'Inter var';
  font-weight: 100 900;
  font-display: swap;
  font-style: normal;
  font-named-instance: 'Regular';
  src: url("/static/fonts/Inter.var.woff2") format("woff2");
}
@font-face {
  font-family: 'Recursive';
  font-weight: 100 900;
  font-display: swap;
  font-style: normal;
  font-named-instance: 'Regular';
  src: url("/static/fonts/Recursive.var.latin.woff2") format("woff2");
}

html {
  scroll-behavior: smooth;
}
body {
  display: grid;
  grid: [stack] 1fr/min-content [stack] 1fr;
}

#navigation-panel-open {
  grid-template-columns: [nav] 2fr [escape] 1fr;
}

@media (max-width: 540px) {
  #navigation-panel-open {
      position: sticky;
      top: 0;
      max-height: 100vh;
      overflow-x: hidden;
      overflow-y: auto;
      overflow: hidden auto;
      overscroll-behavior: contain;
      visibility: hidden;
      transform: translateX(-110vw);
      will-change: transform;
      /* transition: transform var(--duration) var(--easeOutExpo),visibility 0s linear var(--duration); */
    }
}



/* body {
  background-image: linear-gradient(to right, theme('colors.gray.800') 0,  theme('colors.gray.800') 50%, theme('colors.gray.700') 50%, theme('colors.gray.700') 100%  )
} */

/* :target:before {
  content: "";
  display: block;
  height: 8rem;
  margin-top: -8rem;
} */


.

input[type="range"] {
 -webkit-appearance: none;
 height: 4px;
 background: theme('colors.gray.800');
 border-radius: 2px; 
}

input[type="range"]:focus {
 outline: none;
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
 height: 32px;
 width: 48px;
 background-color: theme('colors.gray.700');
 border: 4px solid theme('colors.gray.400');
 border-radius: 2px;
 box-shadow: 0 6px 0 0 rgba(31, 41, 55, 0.25), 0 0 0 8px theme('colors.gray.700');
 margin-top: -20px;
 &:hover {
   border: 4px solid theme('colors.blue.500');
 }
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
    white-space: nowrap; /* 1 */
}

/* .default {
  position: relative;
  box-shadow: inset 0 0 0 1px theme('colors.blue.500');
  &::before {
    content: "Default";
    color: theme('colors.gray.200');
    position: absolute;
    left: 50%;
    top: -20px;
    transform: translateX(-50%);
    text-transform: uppercase;
    letter-spacing: .15em;
    font-size: .75em;
  }
} */

input[type="range"]:focus {
 outline: none;
}

[x-cloak] {
  display: none !important;
}

.hover\:cursor-clipboard:hover {
  cursor: url("../img/clipboard.cur"), auto;
}

.ui-icon {
  transition: all 125ms ease-in-out;
}

.ui-icon.play {
  clip-path: polygon(0 0, 100% 50%, 100% 50%, 0% 100%);

}

.ui-icon.stop {
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
}


.page-toc {
  li {
    @apply flex items-center relative;
    &::before {
      content: "#";
      @apply absolute left-3 mr-3 font-serif text-sm text-transparent;
    }
    &:hover {
      &::before {
        @apply text-current;
      }
    }
  }
  a {
    @apply flex-grow pl-12 my-1 text-sm text-gray-400 border-l-2 border-transparent bg-transparent;
    &:hover {
        @apply border-current text-current text-white bg-opacity-5;
    }
  }
}

@keyframes TO-ACTIVE {
  0% {
    display: none;
  }
  0.25% {
    opacity: 0;
    display: block;
  }
  100% {
    opacity: 1;
  }
}

@keyframes TO-INACTIVE {
  0% {
    display: block;
    opacity: 1;
  }
  
  99.75% {
    opacity: 0;
  }
  100% {
    display: none;
  }
}

@keyframes TO-LIGHT {
  0% {
    @apply text-blue-400;
  }
  75% {
    @apply text-indigo-900;
  }
}

@keyframes TO-DARK {
  0% {
    @apply text-indigo-900;
  }
  75% {
    @apply text-blue-400;
  }
}

#theme-rotator {
  @apply absolute inset-0 overflow-hidden transition-all duration-500 ease-in-out origin-center transform rotate-0;
  circle {
    @apply text-blue-400;
    animation: TO-DARK 750ms ease-in-out fowards;
  }
  &.dark {
    @apply rotate-180 ease-in-out;
    circle {
      @apply text-indigo-900;
      animation: TO-LIGHT 750ms ease-in-out forwards;
    }
  }
}

.module.active {
  opacity: 0;
  display: block;
  animation: TO-ACTIVE 450ms forwards;
}

/* .module.inactive {
  opacity: 1;
  display: none;
  animation: TO-INACTIVE 450ms forwards;
} */
