<header class="fixed inset-x-0 z-10 bg-white border drop-shadow-sm border-b-100 xl:relative xl:z-50">
  <div class="w-full mx-auto 2xl:w-full xl:max-w-screen-fp">
    <div class="flex items-center w-64 h-12 xl:mr-auto">
      <button class="flex items-center justify-center w-12 h-12 bg-gray-200 xl:hidden" label="module navigation"
        type="button" @click="moduleNav = !moduleNav">
        <svg class="w-6 h-6 text-gray-500" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
          <path fill-rule="evenodd"
            d="M3 4a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zm0 4a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zm0 4a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zm0 4a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1z"
            clip-rule="evenodd"></path>
        </svg>
      </button>
      <a class="flex items-center ml-4 xl:ml-0" href="/">
        <span class="ml-4 text-xl font-bold text-black 3xl:ml-0">Flight Plan</span>
      </a>
    </div>
  </div>
</header>