<div class="fixed left-0 z-20 flex flex-col transition-transform duration-200 ease-in-out shadow-2xl w-80 dark:bg-gray-800 xl:w-48 2xl:w-64 xl:translate-x-0 xl:sticky xl:block xl:shadow-none xl:flex-shrink-0" 
    x-cloak
    :class="{ '-translate-x-full' : !moduleNav, 'translate-x-0' : moduleNav }"
>
    <nav @click.away="moduleNav = false" class="sticky min-h-screen pt-4 top-8">
        <ul class="pb-16 mt-0 overflow-y-auto font-medium divide-y divide-gray-500 divide-opacity-5 dark:divide-opacity-10 text-md" aria-label="Main Navigation">

            {% for module in moduleList %}
                {% set currentModule = module %}

                <li class="-mt-px">
                    <div class="flex justify-between group">
                        <a 
                            href="#{{ module.id }}"
                            @click="currentIndex = {{ loop.index0 }}"
                            {# class="flex-grow {% if currentModule.id === module.id %}bg-opacity-5 border-l-4 {% else %}bg-opacity-0 border-transparent {% endif %}border-l-8 flex items-center h-10 transition cursor-pointer group text-sm hover:bg-gray-500 hover:bg-opacity-5"  #}
                            class="flex items-center flex-grow h-10 text-sm transition cursor-pointer group hover:bg-gray-500 hover:bg-opacity-5" 
                        >
                            <div class="flex items-center justify-center w-10 h-full">
                                {# <svg class="{% if currentModule.id === module.id %} opacity-100 {% else %}opacity-0 {% endif %} flex-shrink-0 w-5 h-5 transition group-hover:opacity-100" xmlns="http://www.w3.org/2000/svg" viewbox="0 0 20 20" fill="currentColor">
                                    {{ module.icon | safe }}
                                </svg> #}
                            </div>
                            {# <span class="inline-block w-px h-10 mr-4 bg-gray-300"></span> #}
                            <span class="capitalize">{{ module.id }}</span>
                        </a>
                    </div>
                </li>
                {% endfor%}
            </ul>
        </nav>
    </div>