<nav class="grid grid-cols-2 col-span-12 mt-8">
    <div class="col-span-1">
        <a class="flex flex-col items-start w-full p-4 transition-colors duration-300 ease-in-out rounded md:p-8 xl:p-16 group hover:bg-gray-100 dark:hover:bg-gray-800 dark:hover:bg-opacity-50"
        :href="`#${moduleList[0].id}`">
            <span class="flex items-center text-xs font-medium md:text-sm xl:text-md">
                <svg class="inline-block w-5 h-5 mr-2 text-gray-600 group-hover:text-blue-500" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" d="M7.707 14.707a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414l4-4a1 1 0 011.414 1.414L5.414 9H17a1 1 0 110 2H5.414l2.293 2.293a1 1 0 010 1.414z" clip-rule="evenodd"></path>
                </svg>
                  Previous
                </span>
            <span class="mt-1 text-2xl font-semibold capitalize md:text-3xl xl:text-4xl"></span>
        </a>
    </div>
    <div class="col-span-1">
        <a class="flex flex-col items-end w-full p-4 text-right transition-colors duration-300 ease-in-out rounded md:p-8 xl:p-16 group hover:bg-gray-100 dark:hover:bg-gray-800 dark:hover:bg-opacity-50">
            <span class="flex items-center text-xs font-medium md:text-sm xl:text-md">Next
                  <svg class="inline-block w-5 h-5 ml-2 text-gray-600 group-hover:text-blue-500" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" d="M12.293 5.293a1 1 0 011.414 0l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-2.293-2.293a1 1 0 010-1.414z" clip-rule="evenodd"></path>
                </svg>
            </span>
            <span class="mt-1 text-2xl font-semibold capitalize md:text-3xl xl:text-4xl"></span>
        </a>
    </div>
</nav>

{# <nav class="grid grid-cols-2 col-span-12 mt-8">
    <div class="col-span-1">
        <a class="flex flex-col items-start w-full p-4 transition-colors duration-300 ease-in-out rounded md:p-8 xl:p-16 group hover:bg-gray-100 dark:hover:bg-gray-800 dark:hover:bg-opacity-50"
                :href="`#${moduleList[currentIndex - 1].id}`"
                x-show="currentIndex >= 1"
                @click="currentIndex = currentIndex - 1">
            <span class="flex items-center text-xs font-medium md:text-sm xl:text-md">
                <svg class="inline-block w-5 h-5 mr-2 text-gray-600 group-hover:text-blue-500" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" d="M7.707 14.707a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414l4-4a1 1 0 011.414 1.414L5.414 9H17a1 1 0 110 2H5.414l2.293 2.293a1 1 0 010 1.414z" clip-rule="evenodd"></path>
                </svg>
                  Previous
                </span>
            <span x-text="`${moduleList[currentIndex - 1].id}`" class="mt-1 text-2xl font-semibold capitalize md:text-3xl xl:text-4xl"></span>
        </a>
    </div>
    <div class="col-span-1">
        <a class="flex flex-col items-end w-full p-4 text-right transition-colors duration-300 ease-in-out rounded md:p-8 xl:p-16 group hover:bg-gray-100 dark:hover:bg-gray-800 dark:hover:bg-opacity-50"
               :href="`#${moduleList[currentIndex + 1].id}`"
                x-show="currentIndex < moduleList.length - 1"
                @click="currentIndex = currentIndex + 1">
            <span class="flex items-center text-xs font-medium md:text-sm xl:text-md">Next
                  <svg class="inline-block w-5 h-5 ml-2 text-gray-600 group-hover:text-blue-500" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" d="M12.293 5.293a1 1 0 011.414 0l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-2.293-2.293a1 1 0 010-1.414z" clip-rule="evenodd"></path>
                </svg>
            </span>
            <span x-text="`${moduleList[currentIndex + 1].id}`" class="mt-1 text-2xl font-semibold capitalize md:text-3xl xl:text-4xl"></span>
        </a>
    </div>
</nav> #}