---
layout: base
title: Modules
date: 2021-07-02
---

{% macro get(module) %}
    <h1 class="pt-8 pb-2 text-sm font-semibold text-gray-600 uppercase border-b border-gray-500 dark:text-gray-400">{{ module }}</h1>
    {% include["./modules/", module, ".html"] | join %}
{% endmacro %}

{% set moduleList = modules.pages %}
{% for module in moduleList %}
    <div id="{{ module.id }}" x-show="currentIndex === {{ loop.index0 }}" class="flex-grow w-full module">{{ get(module.id) }}
        {% include "./_includes/blocks/section-nav.html" %}
    </div>
{% endfor %}