{% set moduleList = collections.module %}

<div x-data="{ showAllSubmenus: $persist(true) }" x-cloak="x-cloak">
    <div class="p-3">
        <div class="relative flex px-4 py-3 border border-gray-700">
            <span class="absolute px-2 text-xs text-gray-200 left-2 -top-2 bg-gray-850">Menu settings</span>
            <div class="relative flex justify-between w-full mt-1">
                <label for="menu-depth" class="flex items-center justify-between w-full hover:cursor-pointer">
                    <span class="flex items-center w-8 h-6">
                        <span class="z-0 w-8 h-[2px] transition-all duration-300 delay-100 bg-gray-600 rounded-full top-6" :class="{ 'bg-gray-200': showAllSubmenus }"></span>
                        <span class="absolute z-10 block w-4 h-4 transition-all duration-300 ease-linear transform border-2 border-gray-400 rounded-full shadow-solid bg-gray-850" :class="{ 'translate-x-0 border-2' : !showAllSubmenus, 'translate-x-full border-8 border-blue-500 bg-blue-700 bg-opacity-75' : showAllSubmenus }"></span>
                    </span>
                    <span class="ml-4 text-xs text-gray-400">Show all submenus</span>
                </label>
                <input type="checkbox" id="menu-depth" name="menu-depth" class="invisible block w-0 h-0 appearance-none hover:cursor-pointer active:outline-none focus:outline-none" @click="showAllSubmenus === true ? showAllSubmenus = false : showAllSubmenus = true"/>
            </div>
        </div>
    </div>
    <nav class="z-0 overflow-hidden">
        <ul class="h-[1000px] divide-y divide-gray-900 pb-16 mt-0 overflow-y-auto font-medium text-gray-500 text-md" aria-label="Main Navigation">

            {% for module in moduleList | reverse %}
                {% set currentModule = module %}
                
                <li class="-mt-px" x-data="{ open : false }">
                    <div class="flex justify-between group">
                        <a class="flex-grow {% if module.url === page.url %}bg-gray-700 bg-opacity-50 text-white border-l-8 border-blue-500 {% else %}border-transparent {% endif %} border-l-8 flex items-center h-10 text-gray-200 transition cursor-pointer group  hover:text-white" href="{{ module.url | url }}">
                            <div class="flex items-center justify-center w-10 h-full {% if module.url === page.url %}bg-blue-500 bg-opacity-20 {% endif %}">
                                <svg class="{% if module.url === page.url %}text-gray-100 {% endif %} flex-shrink-0 w-5 h-5 text-gray-600 transition group-hover:text-gray-100" xmlns="http://www.w3.org/2000/svg" viewbox="0 0 20 20" fill="currentColor">
                                    {{ module.data.iconPath | safe }}
                                </svg>
                            </div>
                            <span class="inline-block w-px h-10 mr-4 bg-gray-900"></span>
                            <span class="">{{ module.data.title }}</span>
                        </a>
                    </div>
                    <div x-show="{% if module.url === page.url %}!showAllSubmenus || showAllSubmenus {% else %}showAllSubmenus {% endif %}">
                        <div>
                            <div class="py-4 pl-12 pr-3 bg-gray-850">
                                {{ currentModule.data.content | toc | safe }}
                            </div>
                        </div>
                    </div>
                </li>
                {% endfor%}
            </ul>
        </nav>
    </div>