<header class="{{ 'lg:fixed' if path == 'home' }} w-full">
    <nav class="container flex flex-wrap items-center justify-center p-6 mx-auto bg-gray-900 lg:justify-between lg:px-0" x-data="{ isOpen: false }" @keydown.escape="isOpen = false">

        <!--Logo etc-->
        <div class="flex items-center">
            <a href="/" class="inline-block">
                <span class="flex items-center w-8 h-8 text-pink-600 md:w-10 md:h-10 xl:w-12 xl:h-12">

                    <svg class="flex-shrink-0" xmlns="http://www.w3.org/2000/svg" fill-rule="evenodd" stroke-linejoin="round" stroke-miterlimit="2" clip-rule="evenodd" viewBox="0 0 48 48">
                        <path fill="currentColor" d="M22.162 24.537c-2.014.746-3.448 2.65-3.448 4.876 0 .172.01.342.025.508-2.016.726-3.985 1.445-4.288 1.587-4.79 2.256-8.718 4.614-9.226 4.994-.769.573-3.596 2.85-2.46 4.787 1.139 1.936 4.552.657 5.442.29.587-.244 4.628-2.409 9.011-5.359.26-.174 1.839-1.449 3.46-2.769a5.394 5.394 0 003.373 1.174c1.16 0 2.232-.362 3.107-.974 1.653 1.342 3.279 2.651 3.557 2.836 4.395 2.924 8.45 5.068 9.04 5.308.894.363 4.327 1.614 5.476-.316 1.147-1.928-1.693-4.176-2.465-4.744-.51-.377-4.45-2.713-9.257-4.944-.285-.131-2.207-.831-4.19-1.543.046-.272.069-.55.069-.835 0-2.108-1.284-3.925-3.128-4.745.365-2.07.713-4.098.738-4.426.395-5.18.268-9.68.186-10.299-.124-.937-.732-4.466-3.017-4.473-2.284-.007-2.857 3.52-2.975 4.456-.08.62-.18 5.12.245 10.3.024.308.366 2.281.725 4.311zm2.034 2.27c1.472 0 2.669 1.168 2.669 2.606 0 1.439-1.197 2.606-2.669 2.606-1.473 0-2.668-1.167-2.668-2.606 0-1.438 1.195-2.606 2.668-2.606z" />
                    </svg>
                    <span class="ml-4 text-xl text-white">
                    flightplan
                    </span>

                </span>
            </a>
        </div>

        <!--Toggle button (hidden on large screens)-->
        <button @click="isOpen = !isOpen" type="button" class="block px-2 ml-auto lg:hidden text-primary-500 hover:text-primary-500 focus:outline-none focus:text-primary-500" :class="{ 'transition transform-180': isOpen }" aria-label="Menu">
            <svg class="w-6 h-6 fill-current" xmlns="http://www.w3.org/2000/svg" viewbox="0 0 24 24">
                <path x-show="isOpen" fill-rule="evenodd" clip-rule="evenodd" d="M18.278 16.864a1 1 0 0 1-1.414 1.414l-4.829-4.828-4.828 4.828a1 1 0 0 1-1.414-1.414l4.828-4.829-4.828-4.828a1 1 0 0 1 1.414-1.414l4.829 4.828 4.828-4.828a1 1 0 1 1 1.414 1.414l-4.828 4.829 4.828 4.828z" />
                <path x-show="!isOpen" fill-rule="evenodd" d="M4 5h16a1 1 0 0 1 0 2H4a1 1 0 1 1 0-2zm0 6h16a1 1 0 0 1 0 2H4a1 1 0 0 1 0-2zm0 6h16a1 1 0 0 1 0 2H4a1 1 0 0 1 0-2z" />
            </svg>
        </button>

        <!--Menu-->
        {# <div class="flex-grow w-full text-center lg:flex lg:items-center lg:w-auto " :class="{ 'block shadow-3xl': isOpen, 'hidden': !isOpen }" @click.away="isOpen = false" x-show.transition="true">

            {% if navigation.items %}

                <ul class="items-center justify-end flex-1 pt-6 lg:pt-0 list-reset lg:flex">
                    {% for item in navigation.items %}
                        <li class="mr-3 nav__item">
                            <a @click="isOpen = false" class="inline-block px-4 py-2 text-gray-500 no-underline text-ml hover:text-indigo-500" href="{{ item.url }}">{{ item.text }}</a>
                        </li>
                    {% endfor %}
                </ul>

            {% endif %}
        </div> #}
    </nav>
</header>